
@{
    ViewData["Title"] = "NewsSearch";
}

@model BingNewsRoot

<h1>Search Results</h1>
<p>Estimated matches: @Model.totalEstimatedMatches</p>
@foreach (Value v in Model.value)
{
    <h4>@v.name</h4>
    if (v.image != null)
    {
        <img src="@v.image.thumbnail.contentUrl" />
    }
    <ul>
        <li>@v.datePublished</li>
        <li>@v.description</li>
    </ul>
    <hr />
}