@{
    ViewData["Title"] = $"{ViewBag.Title}";
}

@model List<string>

<h4>@ViewBag.Title</h4>
<hr />
<div style="text-align: right;">
    <form asp-controller="Favorites" asp-action="AddFavorite" method="post">
        <input type="hidden" name="Title" value="@ViewBag.Title" />
        <input type="hidden" name="Source" value="wikipedia" />
        <input type="hidden" name="PageId" value="@ViewBag.PageId" />
        <input type="submit" value="&#10084;" />
    </form>
</div>
<form asp-action="BuildAudioFile" asp-route-subwiki="wikipedia" asp-route-title="@ViewBag.Title"><input type="submit" value="Listen" /></form>
<div id="wiki">
    @foreach (String s in Model)
    {
        if (s.StartsWith("Chapter:"))
        {
            <h4>@s</h4>
            <hr />
        }
        else if (s.StartsWith("Section: "))
        {
            <h5>@s</h5>
        }
        else
        {
            <p class="text-justify">@s</p>
        }
    }
</div>
<form asp-controller="Home" asp-action="RelatedArticles" method="post">
    <input type="hidden" name="title" value="@ViewBag.Title" />
    <input type="hidden" name="subwiki" value="wikipedia" />
    <input type="submit" value="RelatedArticles" />
</form>