@{
    ViewData["Title"] = $"Wiki Article - {ViewBag.Title}";
}

@model List<string>

<h4>@ViewBag.Title</h4>
<hr />
<div style="text-align: right;">
    <form asp-controller="Favorites" asp-action="AddFavorite" method="post">
        <input type="hidden" name="Title" value="@ViewBag.Title" />
        <input type="hidden" name="Source" value="wikipedia" />
        <input type="submit" value="&#10084;" />
    </form>
    <form asp-controller="Favorites" asp-action="DeleteFavorite" method="post">
        <input type="hidden" name="Title" value="@ViewBag.Title" />
        <input type="submit" value="&#128420;" />
    </form>
</div>
@foreach (String s in Model)
{
    if (s.StartsWith("Chapter:"))
    {
        <h4>@s</h4>
        <hr />
    }
    else if (s.StartsWith("Section: "))
    {
        <h5>@s</h5>
    }
    else
    {
        <p>@s</p>
    }
}