@{
    ViewData["Title"] = "Search Results";
}
@model WikipediaSearchRoot
<h4>@Model.query.searchinfo.totalhits results were found!</h4>



@foreach (Search item in Model.query.search)
{
    <p>Title: @item.title</p>
    <input hidden name="pageid" Page Id: @item.pageid />
    <input hidden name="size" Size: @item.size />
    <p>Word Count:@item.wordcount</p>
    <p>Last Updated: @item.timestamp.ToShortDateString()</p>
    @if (ViewBag.SubWiki.Equals("wikipedia"))
    {
        <form asp-action="WikiParse" asp-route-subwiki="wikipedia" asp-route-title="@item.title">
            <input class="btn-outline-primary" type="submit" value="Read Wikipedia Article" />
        </form>
    }
    else if (ViewBag.SubWiki.Equals("wikibooks"))
    {
        <form asp-action="WikiParse" asp-route-subwiki="wikibooks" asp-route-title="@item.title">
            <input class="btn-outline-primary" type="submit" value="Read WikiBook" />
        </form>
    }
    else if (ViewBag.SubWiki.Equals("wikinews"))
    {
        <form asp-action="WikiParse" asp-route-subwiki="wikinews" asp-route-title="@item.title">
            <input class="btn-outline-primary" type="submit" value="Read Wikinews" />
        </form>
    }

    <hr />
}