@{
    ViewData["Title"] = "Favorites";
}
@model List<Favorites>

<h1>Favorites</h1>
<hr />
@foreach (Favorites f in Model)
{
    <p>@f.Title</p>
    <p>@f.Source</p>
    <form asp-controller="Home" asp-action="WikiParse" asp-route-subwiki="@f.Source" asp-route-title="@f.Title">
        <input class="btn-outline-primary" type="submit" value="Shortcut to Article" />
    </form>
    <form asp-controller="Favorites" asp-action="DeleteFavorite">
        <input type="hidden" name="Id" value="@f.Id" />
        <input type="submit" value="&#128420;" />
    </form>
}