@{
    ViewData["Title"] = "Favorites";
}
@model List<Favorites>

<h1>Favorites</h1>
<hr />
@foreach (Favorites f in Model)
{
    <p>Title: @f.Title</p>
    <p>Source: @f.Source</p>
    <form asp-controller="Home" asp-action="WikiParse" asp-route-subwiki="@f.Source" asp-route-title="@f.Title">
        <input class="btn-outline-primary" type="submit" value="&#8618;" />
    </form>
    <form asp-controller="Favorites" asp-action="DeleteFavorite">
        <input type="hidden" name="pageId" value="@f.PageId" />
        <input type="submit" value="&#128420;" />
    </form>
}